{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据可视化demo</title>
    <link href='{% static "styles/common.css" %}' rel="stylesheet">
    <script src='{% static "scripts/Plugin/jquery-3.3.1.min.js" %}'></script>
    <script src='{% static "scripts/Plugin/echarts.min.js" %}'></script>
    <script src='{% static "scripts/common.js" %}'></script>
    <script src='{% static "scripts/trend.js" %}'></script>
</head>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li><i class="nav_1"></i><a href="http://127.0.0.1:8000/index">基础医疗状况</a></li>
            <li><i class="nav_2"></i><a href="http://127.0.0.1:8000/quota">医疗指标分析</a></li>
            <li><i class="nav_3"></i><a href="http://127.0.0.1:8000/trend">感染病趋势分析</a></li>
            <li><i class="nav_4"></i><a href="http://127.0.0.1:8000/chronic">传染病记录</a></li>
        </ul>
    </div>
    <div class="header_center left" style="position:relative">

        <h2><strong>国内传染病数据分析平台</strong></h2>

    </div>
    <div class="right nav text_right">
        <ul>

        </ul>
    </div>

</header>
<!--内容部分-->
<div class="con left" style="width:50%;">
    <!--统计分析图-->
    <div class="div_any">
        <div class="left div_any01" style="width:100%;">
            <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
                <div class="div_any_title"><img src='{% static "images/title_13.png" %}'>主要传染病发病数</div>
                <div id="histogramChart1"
                     style="width: 45%;display: inline-block;height: 400px;margin-top: 15px;"></div>
                <div id="lineChart1" style="width: 52%;height: 66%;display: inline-block;"></div>
                <div style="width: 50%;height: 20%;display: inline-block;color:red;position: absolute;right: 2%;top: 8%;">
                    <div style="display: inline-block;width:33%;text-align:center;">
                        <div style="color:#fff;font-size: 18px;line-height: 32px;">病例报告数</div>
                        <div style="color:#87cefa;font-size: 30px;line-height: 42px;">658201</div>
                    </div>
                    <div style="display: inline-block;width:33%;text-align:center;">
                        <div style="color:#fff;font-size: 18px;line-height: 32px;">死亡数</div>
                        <div style="color:red;font-size: 30px;line-height: 42px;">2568</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left div_any01" style="width:48%;">
            <div class="div_any_child" style="height: 420px;">
                <div class="div_any_title"><img src='{% static "images/title_14.png" %}'>高传染病国家</div>
                <p id="histogramChart2" class="p_chart" style="height: 400px;"></p>

            </div>
        </div>
        <div class="left div_table_box" style="width: 48%;">
            <div class="div_any_child" style="height: 420px;">
                <div class="div_any_title"><img src='{% static "images/title_16.png" %}'>新闻要事</div>
                <div class="table_p" style="overflow: auto;">
                    <table>
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>内容</th>
                            <th>发布时间</th>
                        </tr>
                        </thead>
                        <tbody id="scrolling-content">
                        {% for data in data_list %}
                            <tr>
                                <td style="font-size: 12px;">{{ data.id }}</td>
                                <td style="font-size: 12px;">
                                    <a href="{{ data.neirong }}" target="_blank"
                                       style="color: white;">{{ data.wenben }}</a>
                                </td>
                                <td style="font-size: 12px; color: palevioletred;">{{ data.shijian }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
</div>
<div class="con right" style="width:50%;">
    <div class="div_any">
        <div class="left div_any01" style="width:100%;">
            <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
                <div class="div_any_title"><img src='{% static "images/title_17.png" %}'>主要传染病死亡率排行</div>
                <div id="histogramChart3"
                     style="width: 45%;display: inline-block;height: 400px;margin-top: 15px;"></div>
                <div id="lineChart2" style="width: 52%;height: 90%;display: inline-block;"></div>
            </div>
        </div>
        <div class="left div_any01" style="width:48%;">
            <div class="div_any_child" style="height: 420px;">
                <div class="div_any_title"><img src='{% static "images/title_18.png" %}'>传播途径</div>
                <p id="pieChart1" class="p_chart" style="height: 400px;"></p>
            </div>
        </div>
        <div class="right div_any01" style="width:48%;">
            <div class="div_any_child" style="height: 420px;">
                <div class="div_any_title"><img src='{% static "images/title_19.png" %}'>类别占比</div>
                <p id="pieChart2" class="p_chart" style="height: 400px;"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
